:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Lora", sans-serif;
  --color: #fff;
  --color-white-lite:#f9f8f6;
  --color-black:#000;
  --color-black-lite: #574E56;
  --color-yellow: #f1971b;
  --color-gold: #f6d5a7;
  --color-purper: #907965;
  --main-transition: .5s;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.d-none {display: none;}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.3;
}

.container {
  max-width: 1270px;
  margin-inline: auto;
  margin-block: 0;
  padding-inline: 15px;
}

h1,h2,h3,h4,p,ul,ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline-block;
}

button, input, textarea, input::placeholder,textarea::placeholder {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
}

.h1, .h2 {
  color: var(--color-black-lite);
  font-family: var(--second-family);
  line-height: 1.275;
}

.h1 {
  font-size: 80px;
}

.h2 {
  font-size: 40px;
}

.text-upper {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.15;
  color:var(--color-black-lite) ;
}


/*! SVG icons */

.svg-arrow {
  width: 12px;
  height: 14px;
  fill:var(--color);
}

.svg-mail {
  width: 24px ;
  height:24px;
  fill:var(--color-black-lite);
}
.svg-behance {
  width: 24px;
  height:15px;
  fill:var(--color-black);
}
.svg-inst {
  width: 24px;
  height:24px;
  fill:var(--color-black);
}
.svg-pinter {
  width: 24px;
  height:24px;
  fill:var(--color-black);
}
.svg-phone {
  width:18px ;
  height:24px;
  fill:var(--color-black);
}
.svg-local {
  width: 23px;
  height:33px;
  fill:var(--color-black);
}  


/* Header */
.header {
  height: 800px;
  background-color:var(--color-white-lite);
  position: relative;
}

.header-top {
  height: 70px;
  background-color: var(--color);
  padding-top: 30px;
}

.header-nav {
  display: flex;
  column-gap: 40px;
}

.header-nav a:hover{
  color: var(--color-gold);
}

.header-nav a {
  position: relative;
  transition: var(--main-transition);
}

.header-nav a::before {
  content:'';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--color-gold);
  left: 0;
  bottom: 0;
  transition: .5s;
}

.header-nav a:hover::before{
  width: 100%;
}

.header-content {
  padding-top: 193px;
}

.header-titel {
  max-width: 463px;
  margin-bottom: 127px;
}

.header-titel .h1 {
  margin-bottom: 10px;
}

.start-video {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.start-video__text {
  display: flex;
  align-items: center;
  column-gap: 23px;
  left: -39px;
  position: relative;
}

.start-video__text p {
  max-width: 170px;
  transition: .5s;
}

.start-video img {
  transition: var(--main-transition);
}
.start-video__btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--color-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

.start-video:hover img{
  filter: grayscale(1);
} 

.start-video:hover .start-video__btn {
    background-color: #f1971b;
}

.start-video:hover p {
  color: #f1971b;
}

.header-silder-wrapper {
  width: 50%;
  max-width: 690px;
  background-color: var(--color-gold);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.header-silder-wrapper img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.owl-dot span{
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.owl-dots button.owl-dot.active span{
  background-color: var(--color);
}


.owl-dot + .owl-dot {
  margin-left: 9px;
}

.header-silder-wrapper .owl-dots {
  position: absolute;
  left: 48px;
  bottom: 49px;
  z-index: 3;
}
.header-silder__nav {
  position: absolute;
  bottom: 35px;
  right: 81px;
  z-index: 3;
}
.silder-next, .silder-prev {
  width: 64px;
  height: 62px;
  border: 1px solid var(--color);
}

.silder-next {
  margin-right: 15px;
}

.silder-next svg {
  transform: rotate(180deg);
}
.porfolio {
  padding-top: 118px;
  padding-bottom: 100px;
}
.porfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.porfolio__titel {margin-bottom: 40px;}

.portfolio-card {
  width: 400px;
  height: 440px;
  overflow: hidden;
}
.portfolio-card img {
  transition: var(--main-transition);
}
.portfolio-card:hover img{
  transform: scale(1.05);
  filter:grayscale(1) ;
}

.about {
  padding-top: 100px;
  padding-bottom: 197px;
  background-color: var(--color-black-lite);
  border: 1px solid var(--color-black);
  color: var(--color);
}

.about .h2 {
  color: var(--color);
}

.about__content {
  display: flex;
  align-items: center;
  column-gap: 111px;
}

.about__img {
  flex-shrink: 0;
}
.about__desc {
  max-width: 456px;
}
.about__text {
  line-height: 1.71;
  margin-bottom: 36px;
}

.about__text p + p {
  margin-top: 24px;
}
.about__statistic {
  display: flex;
  column-gap: 38px;
}
.about__statistic-item {
  width:182px;
}
  
.about__statistic-item p {
  font-size: 100px;
  line-height: 1.28;
  color: var(--color-gold);
  font-family: var(--second-family);
}

.contacts {
  padding-top: 88px;
  padding-bottom: 146px;
}

.contacts__titel {
  margin-bottom: 91px;
}

.contacts__content {
  display: flex;
  align-items:flex-start;
  column-gap: 115px;
}
.contacts-form-wrapper {
  width: 505px;
  flex-shrink: 0;
}
.form-item .form-input {
  width: 100%;
  display: block;
  height: 65px;
  border: 1px solid #dddddd;
  padding: 0 19px;
  color: #ACA9a9;
}

.form-item .form-textarea {
  width: 100%;
  display: block;
  border: 1px solid #dddddd;
  padding: 27px 19px;
  height: 245px;
  resize: none;
  color: #ACA9a9;
}

.form-item + .form-item {
  margin-top: 20px;
}

.form-buttom {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 70px;
  height: 65px;
  line-height: 65px;
  background-color: var(--color-gold);
  color:var(--color-black-lite);
  letter-spacing: 0.06em;
  transition: var(--main-transition);
}

.form-buttom:hover {
  background-color:#db8307;
  color: var(--color-white-lite);
  border-radius: 24px;
}

.form-buttom:active {
  background-color:#3d2401;
  color: var(--color-white-lite);
}

.contacts-list__item {
  display: flex;
  column-gap: 16px;
}

.contacts-list__item .text-upper {
  margin-bottom: 3px;
}

.contacts-list__item .text-upper + *{
  color: var(--color-purper);
}

.contacts-list__item:hover .contacts-list__text a {
  color: var(--color-yellow);
}

.contacts-list__item:hover .contacts-list__text p {
  color: red;
}

.contacts-list__item:hover .contacts-list__icon svg {
  fill: var(--color-yellow);
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 61px;
  column-gap: 95px;
}

.footer {
  padding-top: 34px;
  padding-bottom: 51px;
  text-align: center;
  color:var(--color-black-lite)
}